<div class='zoom-container'>
  {{#if headerTemplate}}
    {{partial headerTemplate}}
  {{/if}}

  <div class='zoom-viewport'>
    <div class='zoom-content'>
      {{yield}}
    </div>
  </div>

  {{#if footerTemplate}}
    {{partial footerTemplate}}
  {{/if}}
</div>
