<div class="zoom-container">
  {{#if headerTemplate}}
    {{partial headerTemplate}}
  {{/if}}

  <div class="zoom-viewport {{if activeViewport "active"}}">
    <div class="zoom-content">
      {{yield this}}
    </div>
  </div>

  {{#if footerTemplate}}
    {{partial footerTemplate}}
  {{/if}}
</div>
