html, body {
  margin: 20px;
}

.zoom-viewport {
  width: 600px;
  height: 600px;
  border: 1px solid blue;
  background-color: gray;
}

.zoom-content {
}

.splorch {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
  top: 15px;
  left: 15px;
}
