{{#zoom-zone headerTemplate='components/zoom-zone-header'}}
  <img src='http://placehold.it/300x200' width='300' height='200'>
  {{#link-to 'foo'}}<span class='splorch' id='foo'></span>{{/link-to}}
{{/zoom-zone}}
